@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*::after *::before {
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 112, 59);
}

.text {
    font-size: 30px;
    color: white;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    gap: 20px;
}

#grid {
    display: grid;
    
    border: 10px solid rgb(22, 22, 22);
    background-image: url(./water.gif);

    padding-bottom: 5px;
    height: 700px;
    width: 800px;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    align-items: end;
}

.platform { 
    background-image: url(./lilypad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(0px 0px 20px rgb(18, 0, 179));

    height: 60px;
    width: 60px;
}

#player {
    filter: drop-shadow(0px 0px 15px rgb(1, 6, 71));

    padding: 10px;
    z-index: 1;

    grid-column-start: 5;
    grid-column-end: 6;
    
    grid-row-start: 9;
    grid-row-end: 10;

    transition: transform .1s;
}

.flipped {
    transform: rotateY(180deg);
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#highscoreContainer {
    display: flex;
}
